 body{
    background-image: url(images/stripes-light.png);
    font-size:18px;
    line-height:34px;
}

.col-md-12{
    background-color:#ffffff;
}

.container{
    width: 100%;
    max-width: 960px;
    margin-top:120px;
    margin-bottom: 120px;
    
    padding:20px;
    clear: both;
    background-color:#ffffff;
}
.selfport{
    float: left;
}
#vanessaherna{
max-width:960px;
width: 100%;
margin:0 auto;
background-color:#ffffff;
padding:0px;

}
#myname{
    background-color:#4aaaa5;
    padding:20px;
    /* margin-right:200px; */
    color:#ffffff;
    text-align: center

}

 #top-bar{
    margin-bottom: 100px;
    background-color:#ffffff;
}
a{
    color:inherit;
}

li{
    color:#777777;
    border-left:2px;
    border-color:#777777;
    margin-left: 10px;
}


.piccol{
    float:left;

}
.selfport{}

/* #myname{
    padding:20px;
    margin:0px;
    background-color:#4eeee5;
} */


 #myfooter{
    background-color:#777777;
    padding:20px 0;
    /* margin-top: 100px; */
    border-top:8px solid #4aaaa5;
    
} 

.btn-primary {
    background-color:#4aaaa5;
}

/* @media screen and (max-width:640px){
   body{
       background-color: red;
   } */


@media screen and (max-width:640px){
#myname{
    min-width: 100%;
    text-align: center;
    margin:0px;
    text:20px;
}
.container{
    min-width:100%;
    margin:-5px;
    padding:0px;
}

.img-responsive{
    min-width: 100%;
    max-height: 50%
   
}
.nav{
    min-width: 100px;
    text-align: center
}


}

@media screen and (max-width:760px)  {
 .container{
     margin:10px;
        
 }

 @media screen and (max-width:960px){
     .container{
         max-width:880px;
     }

 }
 

    



